.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.596);
    margin-top: 70px;
  }
  
  .heading {
    text-align: center !important;
    color: #2626c1 !important; 
    font-family: 'Roboto', sans-serif !important; /* Fonte específica */
    font-weight: 700 !important; /* Deixa a fonte em negrito */
    font-size: 2rem !important; /* Ajuste o tamanho da fonte conforme necessário */
    letter-spacing: 0.1px !important; /* Adiciona espaço entre as letras */
  }
  
  
  .button {
    background-color: #2626c1;
  }
  
  .button:hover {
    background-color: #2626c1;
  }
  